upstream api_server {
    server face-detection-backend-app.herokuapp.com;
}

gzip on; 
gzip_vary on; 
gzip_min_length 1024; 
gzip_proxied expired no-cache no-store private auth; 
gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/xml; 
gzip_disable "MSIE [1-6]\.";

server {
    listen       ${PORT:-80};
    server_name  _;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $$uri /index.html;
    }

    location /api/ {
        proxy_pass https://face-detection-backend-app.herokuapp.com/api/$request_uri;
    }

    location ~ \.(avif|png|css|js) {
        root /usr/share/nginx/html/;
        add_header Cache-Control "max-age=120, must-revalidate, public";
    }

    location ~ \.(css|js) {
        root /usr/share/nginx/html/;
        add_header Accept-Encoding gzip;
    }
}