upstream api_server {
    server face-detection-backend-app.herokuapp.com;
}


server {
    listen       ${PORT:-80};
    server_name  _;

    root /usr/share/nginx/html;
    index index.html;
    gzip on;
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_min_length 0;
    gzip_types text/plain application/javascript text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype;


    location / {
        try_files $$uri /index.html;
    }

    location /api/ {
        proxy_pass https://face-detection-backend-app.herokuapp.com/api/$request_uri;
    }

    location ~ \.(avif|png|css|js) {
        root /usr/share/nginx/html/;
        add_header Cache-Control "max-age=120, must-revalidate, public";
    }

    location ~ \.(css|js) {
        root /usr/share/nginx/html/;
        add_header Accept-Encoding gzip;
    }


}