upstream api_server {
    server face-detection-backend-app.herokuapp.com;
}

server {
    listen       ${PORT:-80};
    server_name  _;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $$uri /index.html;
    }

    location /api/ {
        proxy_pass https://face-detection-backend-app.herokuapp.com/api/$request_uri;
    }
}